
<div class="row">
    <div class="col-7">
        <% if session[:error].nil? || session[:error] %>
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                Place your bet on dice number (1 to 6)
            </div>
         <% elsif session[:win] %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                You win!🥳
                 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                </button>
            </div>
        <% else %>
            <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                Good luck next time🫡
                 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                 </button>
            </div>
        <% end %>

        <form action="/bet" method="post">
            <div class="form-group row">
                <label class="col col-form-label">Bet money</label>
                <div class="col">
                    <input autofocus type="number" class="form-control italic" name="money" min="1" placeholder="Any positive number" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col col-form-label">On dice number</label>
                <div class="col">
                    <input type="number" class="form-control italic" min="1" max="6" name="guess" placeholder="1 to 6" required>
                </div>
            </div>

            <div class="form-group row">
                <div class="col">
                    <button type="submit" class="btn btn-dark float-right">Bet</button>
                </div>
            </div>
            <br>
        </form>
</div>

 <div class="col custom-background">
        <form>
            <fieldset disabled>
                <div class="form-group col-md-8">
                    <label for="disabledTextInput1">Total Win</label>
                    <input type="number" id="disabledTextInput1" class="form-control" placeholder="<%= session[:sessionWin] %>">
                </div>

                <div class="form-group col-md-8">
                    <label for="disabledTextInput2">Total Loss</label>
                    <input type="number" id="disabledTextInput2" class="form-control" placeholder="<%= session[:sessionLoss] %>">
                </div>

                <div class="form-group col-md-8">
                    <label for="disabledTextInput3">Total Profit</label>
                    <input type="number" id="disabledTextInput3" class="form-control" placeholder="<%= session[:sessionProfit] %>">
                </div>
            </fieldset>
        </form>
    </div>
</div>


<div class="card custom-card">
    <div class="card-body">
        <h2>Account Record - User: <%= session[:username] %></h2>
            <fieldset disabled>
                <div class="form-row">
                    <div class= "col-md-4 mb-3">
                        <label for="disabledTextInput4">Total Win</label>
                        <input type="number" id="disabledTextInput4" class="form-control" placeholder="<%= session[:totalWin] %>">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="disabledTextInput5">Total Loss</label>
                        <input type="number" id="disabledTextInput5" class="form-control" placeholder="<%= session[:totalLoss] %>">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="disabledTextInput6">Total Profit</label>
                        <input type="number" id="disabledTextInput6" class="form-control" placeholder="<%= session[:totalProfit] %>">
                    </div>
                </div>
            </fieldset>
        <h1></h1>
        <div class= "form-group col-md-3">
            <a href="/logout" class="btn btn-danger float-right">Log Out</a>
        </div>
    </div>
</div>

